.sidebar {
  margin-top: 89px;
  height: 100vh;
  width: 320px;
  font-size: 8rem;
  background-color:#666666 !important;
  opacity: 0.92;
  z-index: 1;
}

.navbar-nav {
  height: 100vh;
}

img{
  margin-left:45%;
  width: 155px;
  z-index: -1;
}

li{
  font-family: Didot, serif;
  margin-top: 12%;
  margin-left: 50%;
  color: #fff;
}

button{
  border-radius: 20%;
  border: none;
}

.nav-item{
  cursor: pointer;
}

#boutonfiltre2 {
  transition: transform 0.5s ease-in-out;
  position: fixed;
  cursor: pointer;
}

.trans {
  transform: translateX(0px) !important;
  transition: transform 0.5s ease-in-out !important;
}

.hidden {
  transform: translateX(-320px);
  transition: transform 0.4s ease-in-out;
}

.transBtn {
  position: relative;
  z-index:3;
  /*
  transition: transform 0.5s ease-in-out;
  transform: translateX(320px);
  */
}

input{
  max-width: 200px;
}

@media screen and (max-width: 800px){

  img{
    margin-left: 33%;
  }

  li{
    margin-top: 5%;
  }

  .reseaux{
    margin-top: 5%;
  }

}


.loupe{
  font-size: 1.9em;
  margin-left: 94%;
  margin-top:-80px;
  color: black;
}

.navbar{
  background-color: #666666;
  opacity: 0.92;
}

.reseaux{
  font-size: 0.3em;
  margin-top: 15%;
  margin-left: 10%
}

.closeside{
  font-size: 2.8em;
  color: black;
}

.openside{
  font-size: 2.6em;
  color: black;
}

a{
  color: white;
}