<div class="backgroundimage">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light navbar-fixed-top navbar-trans ">
    <a class="navbar-brand">
      <img src="../../assets/images/image-header/logo_funlab.png" width="120%" height="120%" routerLink="/accueil">
    </a>

    <button class="navbar-toggler mr-4" type="button" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav"  [ngbCollapse]="!isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <h4 class="nav-link text-info mx-2" routerLink="/accueil">Accueil</h4>
        </li>
        
        <li class="nav-item">
          <h4 class="nav-link text-info mx-2" routerLink="/agenda">Agenda</h4>
        </li>
        <li class="nav-item">
          <h4 class="nav-link text-info mx-2" routerLink="/blog">Blog</h4>
        </li>
        <li class="nav-item">
          <h4 class="nav-link text-info mx-2" routerLink="/equipe">Wiki</h4>
        </li>
        <li class="nav-item">
          <h4 class="nav-link text-info mx-2" routerLink="/equipe">Equipe</h4>
        </li>
        <li class="nav-item">
          <h4 class="nav-link text-info mx-2" routerLink="/contact">Contact</h4>
        </li>       
      </ul>

      <input class="form-control mx-3" type="search" placeholder="Rechercher" aria-label="Search">
      <button class="btn btn-outline-info mx-3" type="submit">Go !</button>

    </div>
  </nav>
  <h1 text align="center">Bienvenue à la FunLab</h1>
</div>
