<!--
<nav class="navbar navbar-inverse fixed-left">
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <img src="../../assets/images/image-header/logo_funlab.png" width="140px" height="70px" routerLink=""/>
  <form class="form-inline my-2 my-lg-0 col-4">
    <input class="fa fa-search form-control awesomplete mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngbCollapse]="!isCollapsed">
    <ul class="nav sidebar-nav">
      <li class="nav-item">
        <h3 class="nav-link text-info mx-2" routerLink="">Accueil</h3>
      </li>
      <li class="nav-item">
        <h3 class="nav-link text-info mx-2" routerLink="/agenda">Agenda</h3>
      </li>
      <li class="nav-item">
        <h3 class="nav-link text-info mx-2" routerLink="/blog">Blog</h3>
      </li>
      <li class="nav-item">
        <h3 class="nav-link text-info mx-2" routerLink="/wiki">Wiki</h3>
      </li>
      <li class="nav-item">
        <h3 class="nav-link text-info mx-2" routerLink="/equipe">Equipe</h3>
      </li>
      <li class="nav-item">
        <h3 class="nav-link text-info mx-2" routerLink="/contact">Contact</h3>
      </li>
    </ul>
  </div>
</nav>
-->


<nav class="navbar navbar-dark bg-dark sidebarNavigation" data-sidebarClass="navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>