.col_white_amrc {
  color: #FFF;
  text-align: center;
}
footer {
  width:100%;
  background-color: grey;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}
.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
footer p {
  font-size: 14px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
  text-align: center;
}
.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}
.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  border: 1px solid #000;
  padding: 12px;
  border-radius: 30%;
}
.social_footer_ul li img {
  width: 30px;
  height: 30px;
}
