<!--Debut footer-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
<!--Debut Adresse-->
            <div class="col-sm-6 col-md col-12">
                <h5 class="col_white_amrc pt2"> Funlab </h5>
                <p> MAME </p>
                <p> 49 Boulevard Preuilly </p>
                <p> 37000 Tours </p>
                <p><i class="fa fa-envelope"></i> contact@funlab.fr  </p>
            </div>
<!--Debut Horaires-->
            <div class="col-sm-6 col-md col-12">
                <h5 class="col_white_amrc pt2">Horaires</h5>
                <p> Mardi: 14h-18h </p>
                <p> Mercredi: 14h-18h </p>
                <p> Jeudi: 16h-22h </p>
                <p> Vendredi: 14h-18h </p>
            </div>
        </div>
    </div>
    <div class="container">
<!--Debut Copyright-->
        <p class="text-center mt-3">Copyright @2019 | Made by <a href="https://wildcodeschool.fr/tours/" target="_blank">Wild Code School Tours</a></p>
<!--Debut reseaux sociaux-->
        <div class="row">
        <ul class="reseaux">
                <a class="text-white" href="https://www.facebook.com/FablabTourangeau/"><i class="fa fa-facebook-f mx-3"></i></a>
                <a class="text-white" href="https://twitter.com/lefunlab/"><i class="fa fa-twitter mx-3" ></i></a>
                <a class="text-white" href="https://www.instagram.com/funlab_tours/"><i class="fa fa-instagram mx-3" ></i></a>
                <a class="text-white" href="http://funlab.fr/category/actusblog/"><i class="fa fa-edit mx-3"></i></a>
        </ul>
<!--Debut partenaires-->
        <ul class="social_footer_ul">
            <a class="mx-2" href="http://www.regioncentre-valdeloire.fr/accueil.html" target="_blank"><img src="../../assets/images/icons_footer/region-centre-val-de-loire.jpg" alt="region-centre-val-de-loire"></a>
            <a class="mx-2" href="https://www.compagnons-du-devoir.com/" target="_blank"><img src="../../assets/images/icons_footer/cdd.png" alt="compagnons-du-devoir"></a>
            <a class="mx-2" href="https://www.fondationorange.com/" target="_blank"><img src="../../assets/images/icons_footer/logo_fondation-orange.png" alt="fondationOrange"></a>
            <a class="mx-2" href="http://tours-metropole.fr/" target="_blank"><img src="../../assets/images/icons_footer/tours-metropole.png" alt="tours-metropole"></a>
        </ul>
        <a class="btn btn-secondary btn-sm text-white">Devenir partenaire</a>
    </div>
  </div>
</footer>
