<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2"> Funlab </h5>
      <!--headin5_amrc-->
                <p> MAME </p>
                <p> 49 Boulevard Preuilly </p>
                <p> 37000 Tours </p>
                <p><i class="fa fa-envelope"></i> contact@funlab.fr  </p>
            </div>

            <div class=" col-sm-4 col-md  col-6 col">
          <!--headin5_amrc-->
                <ul class="social_footer_ul">
                    <li><a href="https://www.facebook.com/FablabTourangeau/" target="_blank"><i><img src="../../assets/images/icons_footer/facebook.png" alt="facebook"></i></a></li>
                    <li><a href="https://twitter.com/lefunlab/" target="_blank"><i><img src="../../assets/images/icons_footer/twiter.png" alt="twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/funlab_tours/" target="_blank"><i><img src="../../assets/images/icons_footer/insta.png" alt="instagram"></i></a></li>
                    <li><a href="http://funlab.fr/category/actusblog/" target="_blank"><i><img src="../../assets/images/icons_footer/blog.png" alt="blog"></i></a></li>
                </ul>
                <ul class="social_footer_ul">
                    <li><a href="http://www.regioncentre-valdeloire.fr/accueil.html" target="_blank"><i><img src="../../assets/images/icons_footer/region-centre-val-de-loire.jpg" alt="region-centre-val-de-loire"></i></a></li>
                    <li><a href="https://www.compagnons-du-devoir.com/" target="_blank"><i><img src="../../assets/images/icons_footer/cdd.png" alt="compagnons-du-devoir"></i></a></li>
                    <li><a href="https://www.fondationorange.com/" target="_blank"><i><img src="../../assets/images/icons_footer/logo_fondation-orange.png" alt="fondationOrange"></i></a></li>
                    <li><a href="http://tours-metropole.fr/" target="_blank"><i><img src="../../assets/images/icons_footer/toursplus.png" alt="tours-metropole"></i></a></li>
                </ul>
        <!--social_footer_ul ends here-->
            </div>

            <div class=" col-sm-4 col-md  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Horaires</h5>
                <!--headin5_amrc ends here-->

                <p> Mardi: 14h-18h </p>
                <p> Mercredi: 14h-18h </p>
                <p> Jeudi: 16h-22h </p>
                <p> Vendredi: 14h-18h </p>
                <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>

    <p class="text-center">Copyright @2019 | Designed With by <a href="https://wildcodeschool.fr/tours/" target="_blank">Wild Code School</a></p>

</footer>

