<div class="container">
  <h5 class="section-title h1">La fabrique d'usage numerique</h5>
  <p style="text-align: center;">Association loi 1901 créée en 2013</p>
  <div class="row">
    <!-- Funlab -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="image-flip">
        <div class="mainflip">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <p><img class=" img-fluid" src="assets/images/image_presentation/logo_fun_lab.png" alt="funlab image"></p>
                <h4 class="card-title">FunLab</h4>
                <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-ellipsis-h"></i></a>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center mt-4">
                <h4 class="card-title">A propos</h4>
                <p class="card-text">Un atelier de fabrication partagé
                  de 170m2 équipé de machines à             
                  commande numérique, d’outillage                  
                  électro-portatifs et d’une bibliothèque                  
                  sur la « culture maker »</p>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/FablabTourangeau/">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com/lefunlab?lang=en">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/funlab_tours/">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- Repair Café -->
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="image-flip">
              <div class="mainflip">
                <div class="frontside">
                  <div class="card">
                    <div class="card-body text-center">
                      <p><img class=" img-fluid" src="assets/images/image_presentation/logo_repair_cafe.jpg" alt="repair cafe image"></p>
                      <h4 class="card-title">Repair Café</h4>
                      <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-ellipsis-h"></i></a>
                    </div>
                  </div>
                </div>
                <div class="backside">
                  <div class="card">
                    <div class="card-body text-center mt-4">
                      <h4 class="card-title">A propos</h4>
                      <p class="card-text">Tous les 3è samedis du mois, un
                        rendez-vous itinérant en Touraine                     
                        pour réparer vos objets du quotidien :                        
                        bricolage, entraide et bonne humeur                        
                        autour d’un café.</p>
                      <ul class="list-inline">
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://repaircafe.org/fr/">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/repaircafetours/">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li class="list-inline-item">
                          <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/repaircafe/">
                            <i class="fa fa-instagram"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <!-- Precious Plastic -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p><img class=" img-fluid" src="assets/images/image_presentation/pp_touraine.svg.png" alt="precious plastic image"></p>
                  <h4 class="card-title">Precious Plastic</h4>
                  <a href="#" class="btn btn-primary btn-sm"><i class="fa fa fa-ellipsis-h"></i></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">A propos</h4>
                  <p class="card-text">Precious Plastic est un kit de 4
                    machines pour recycler et transformer                   
                    le plus localement possible des déchets                    
                    plastiques. Rejoignez la communauté                    
                    tourangelle !</p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="https://preciousplastic.com/">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="social-icon text-xs-center" target="_blank" href="#">
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



  </div>
</div>

