/* Section Title */

.section-title h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    margin-bottom:20px;
}


/* Card outline */

#container {
  box-shadow: 0 15px 30px 10px rgba(128, 128, 128, 0.31);
  background: rgba(255, 255, 255, 0.90);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 5px auto;
  height: 350px;
  width: 700px;
}

/* Funlab presentation position  */

.funlab-presentation {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 40%;
}

/* Funlab Title */

#container .funlab-presentation h1 {
  text-align: center;
  position: relative;
  font-size: 34px;
  color: #0CCFD0;
  letter-spacing: 1.5px;
}

/* Presentation text about Funlab */

#container .funlab-presentation p {
  text-align: center;
  font-size: 18px;
  color: #7d7d7d;
}

/* Image logo */

img {
  margin-top: 10px;
  height: 90%
}

/* Placement of Funlab logo */

.funlab-image {
  transition: all 0.3s ease-out;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 50%;
}

/* Follow us class */

.follow-us {
  background: rgba(27, 26, 26, 0.9);
  transition: all 0.3s ease-out;
  transform: translateX(-100%);
  position: absolute;
  line-height: 1.9;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-transform: uppercase;
}

/* Nous Suivre title */

.follow-us h2 {
  text-align: center;
  width: 100%;
  color: #0CCFD0;
  background-color: white;
  padding: 10px 5px 10px 5px;
}

/* line under (Nous Suivre) title */

.follow-us h2::after {
  content: '';
  width: 180px;
  border-bottom: 6px solid #0CCFD0;
  display: block;
}

/* On hover - follow us class appears */

.funlab-image:hover .follow-us {
  transform: translateX(0);
}

/* To have no padding and no bullet points */

.follow-us ul {
  padding: 0;
  list-style-type: none;
}

/* list containers and transition */

.follow-us li {
  width: 100%;
  transition: 0.3s ease;
}

/* Facebook icon */

.follow-us .fa-facebook {
  width: 100%;
  color: #ffffff;
  background-color: #3b5998;
  font-size: 24px;
  padding: 3px;
  margin: 10px 0px 10px 0px;
}

/* Twitter icon */

.follow-us .fa-twitter {
  width: 100%;
  color: #ffffff;
  background-color: #00aced;
  font-size: 24px;
  padding: 3px;
  margin: 10px 0px 10px 0px;
}

/* Instagram Icon */

.follow-us .fa-instagram {

  width: 100%;
  color: #ffffff;
  background-color: #8a3ab9;
  font-size: 24px;
  padding: 3px;
  margin: 10px 0px 10px 0px;
}

/* On hover will animate row */

.follow-us ul li:hover {
  transform: translateX(50px) scale(1.3);
}

/* On hover animate logo behind follow-us class */
.funlab-image:hover img {
  transition: all 0.3s ease-out;
  transform: scale(1.2, 1.2);
}
