<div class="section-title">
<h1>La fabrique d'usage numeriques</h1>
</div>
<div id="container">
  <!-- Start FunLab presentation -->
  <div class="funlab-presentation">
    <h1>FunLab</h1>
    <!-- Information about the Funlab -->
    <p class="information">Un atelier de fabrication partagé de 170m2 équipé de machines à commande numérique,
      d’outillage électro-portatifs et d’une bibliothèque sur la « culture maker »</p>
  </div>
  <!-- 	End	FunLab details   -->

  <!-- 	Start product image & follow us -->
  <div class="funlab-image">

    <img class="img-fluid" src="assets/images/image_presentation/logo_fun_lab.png" alt="funlab image">

    <!-- 	Follow us-->
    <div class="follow-us">
      <h2>Suivez-nous</h2>
      <ul>
        <li>
          <a class="social-icon text-xs-center" target="_blank" href="https://www.facebook.com/FablabTourangeau/">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a class="social-icon text-xs-center" target="_blank" href="https://twitter.com/lefunlab?lang=en">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/funlab_tours/">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--  End product image  -->
</div>
