<div class="container">
	<img src="../../assets/images/image-contact/contact1.jpg" class="container col-8 justify-content left">
	<div class="container col-4 justify-content right">
		<div class="form-element form-input form-group">
			<input name="name" id="field-name" class="form-element-field"
			placeholder="Saisissez votre nom" type="input" required minlength="5" />
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-name">Nom</label>
			<small class="form-element-hint" >(champ obligatoire)</small>

		</div>
		<div class="form-element form-input form-group">
			<input name="email" id="field-email" class="form-element-field"
			placeholder="Saisissez votre e-mail" type="input" required minlength="5" />
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-email">E-mail</label>
			<small class="form-element-hint" >(champ obligatoire)</small>

		</div>
		<div class="form-element form-input form-group">
			<input name="message" id="field-message" class="form-element-field"
			placeholder="Saisissez votre message" type="input" required minlength="5" />
			<div class="form-element-bar"></div>
			<label class="form-element-label" for="field-name">Message</label>
			<small class="form-element-hint" >(champ obligatoire)</small>

		</div>
	</div>
</div>