<div class="container">
	<div class="row">
		<div class="col-12 col-sm-12 col-xl-6">
			<img src="../../assets/images/image-contact/contact1.jpg">Funlab<br>
			MAME<br>
			49 Boulevard Preuilly<br>
			37000 Tours<br>
			contact@funlab.fr
		</div>
		<div class="card col-12 col-sm-12 col-xl-6">
			<h1>Contact</h1>
			<div class="form-element form-input form-group">
				<input name="name" id="field-name" class="form-element-field"
				placeholder="Saisissez votre nom" type="input" required minlength="5" />
				<div class="form-element-bar"></div>
				<label class="form-element-label" for="field-name">Nom</label>
				<small class="form-element-hint" >(champ obligatoire)</small>
			</div>

			<div class="form-element form-input form-group">
				<input name="email" id="field-email" class="form-element-field"
				placeholder="Saisissez votre e-mail" type="input" required minlength="5" />
				<div class="form-element-bar"></div>
				<label class="form-element-label" for="field-email">E-mail</label>
				<small class="form-element-hint" >(champ obligatoire)</small>
			</div>

			<div class="form-element form-input form-group">
				<input name="sujet" id="field-sujet" class="form-element-field"
				placeholder="Saisissez le sujet de votre message" type="input" required minlength="5" />
				<div class="form-element-bar"></div>
				<label class="form-element-label" for="field-email">Sujet</label>
			</div>

			<div class="form-element form-input form-group">
				<input name="message" id="field-message" class="form-element-field"
				placeholder="Saisissez votre message" type="input" required minlength="5" />
				<div class="form-element-bar"></div>
				<label class="form-element-label" for="field-name">Message</label>
				<small class="form-element-hint" >(champ obligatoire)</small>
			</div>
		</div>	
	</div>
</div>
