<div class="container backgroundimage">
    <h1 class="my-5"> Adhésion </h1>
    <h4> Tarif normal: 20€ </h4>
    <h4> Tarif réduit(étudiants, sans emplois): 10€ </h4>
    <h4> Tarif Personne Morale(Association, Collectivité, Entreprise): 50€ </h4>
    <h4 class="mt-5"> Rejoignez notre association: </h4>
    <div class="mb-5">
        <a href="https://www.helloasso.com/associations/la-fabrique-d-usages-numeriques/adhesions/adhesion-funlab-fablab-de-tours" target="_blank" class="mx-3 btn btn-secondary btn-sm"> Adhérer sur helloasso.com </a>
        <a routerLink="/contact" class="mx-3 btn btn-secondary btn-sm">Nous contacter</a>
    </div>
</div>


