<div class="backgroundimage">
  <h1 class="d-flex justify-content-center">Recherche</h1>
  <form class="form-inline justify-content-center">
    <input name="search" class="fa fa-search form-control" type="search" placeholder="Rechercher" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Ok</button>
  </form>
  
  <div class="d-flex justify-content-center">
    <div class="card col-8" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titre article</h5>
        <p class="card-text">Début de l'article ou extrait avec les mots clé contenu dans la recherche.</p>
        <a href="#" class="btn btn-primary">Voir l'article</a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card col-8" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titre article</h5>
        <p class="card-text">Début de l'article ou extrait avec les mots clé contenu dans la recherche.</p>
        <a href="#" class="btn btn-primary">Voir l'article</a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card col-8" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titre article</h5>
        <p class="card-text">Début de l'article ou extrait avec les mots clé contenu dans la recherche.</p>
        <a href="#" class="btn btn-primary">Voir l'article</a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card col-8" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titre article</h5>
        <p class="card-text">Début de l'article ou extrait avec les mots clé contenu dans la recherche.</p>
        <a href="#" class="btn btn-primary">Voir l'article</a>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-center">
    <div class="card col-8" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titre article</h5>
        <p class="card-text">Début de l'article ou extrait avec les mots clé contenu dans la recherche.</p>
        <a href="#" class="btn btn-primary">Voir l'article</a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card col-8" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titre article</h5>
        <p class="card-text">Début de l'article ou extrait avec les mots clé contenu dans la recherche.</p>
        <a href="#" class="btn btn-primary">Voir l'article</a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card col-8" style="width: 18rem;">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Titre article</h5>
        <p class="card-text">Début de l'article ou extrait avec les mots clé contenu dans la recherche.</p>
        <a href="#" class="btn btn-primary">Voir l'article</a>
      </div>
    </div>
  </div>
</div>