.backgroundimage {
  background-image: url("../../assets/images/image-header/background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}

h1{
  font-size: 340%;
  margin-top: 30%;
  font-family: Didot, serif;
  font-weight: 900;
  color: white;
}
